*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
}
header{
   
    display: flex;
    /* using this to bring the container to the center setting width is very important */
    margin-right: auto;
    margin-left: auto;
    width:900px ;
    margin-top: 10vh;
}
img{
    height: 400px;
    width: 400px;
    transition: 0.2s;
}
.text{
    width: 500px;
}
h3{
    font-size:30px;
}
h2{
    font-size:50px;
}
.text h4{
    font-size: 29px;
    color:rgb(197, 197, 89);
}
section h3{
    text-align: center;
    text-decoration-line: underline ;
    text-decoration-color: blue;
    text-underline-position: below;
   
}
.igrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}
.img1{
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 2;
   text-align: center;
  
}
.img2{
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 2;
   grid-column-end: 3;
   text-align: center;
}
.img3{
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 2;
   text-align: center;
}
.img4{
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 3;
   text-align: center;
}
img:hover{
    height:410px;
    width: 410px;
}

@media screen and (max-width:1000px) and (min-width:0px) {
    header{
       flex-direction: column;
       gap: 50px;
       width: 500px;
    }
    span{
        display: block;
        text-align: center;
    }
    .text h2,h3,h4{
        display: block;
        text-align: center;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    .igrid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        width: 500px;
        margin-right: auto;
        margin-left: auto;
       
    }
   
    /* below contion is imp to bring the main img into center */
    img{
        display: block;
        margin: 0 auto;
    }
    

}
footer h4{
    text-align: center;
    padding: 20px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}
